/**
 * CSS3 Animation module
 */

@include keyframes(bob) {

	50% {
		padding-top: 15px;
	}

}

@include keyframes(bounce) {

	0% {
		top: -175px;
	}

	50% {
		top: 0;
	}

	75% {
		top: -15px;
	}

	100% {
		top: 0;
	}

}