/**
 * No JS styling
 */

.no-js {

	body {
		background-color: #fff;
		color: #111;
		text-align: center;

		.header {
			@include opacity(1);
		}

		.page-container {
			padding-top: 150px;

			h1 {
				@include font-size(40px);
			}

			h2 {
				@include font-size(26px);
			}

			.content {

				div {

					div {
						@include font-size(14px);
						padding: 5px;
					}
				}

			}

		}

	}

}