.panel {

	box-sizing: border-box;
	padding: 16px;
	margin-bottom: 16px;
	padding-bottom: 0;
	clear: both;

	&:last-child {
		// padding-bottom: 16px;
	}

	&.panel--half {
		
		width: 50%;

		&.panel--halfLeft {
			float: left;
			padding-right: 8px;
			clear: none;
		}

		&.panel--halfRight {
			float: right;
			padding-left: 8px;
			clear: none;
		}

	}

	.panel__content {
		padding: 32px;
		background-color: #FFF;
		@include vendor(box-shadow, 0 8px 16px rgba(0, 0, 0, .15));
	}

}

@include breakpoint($palm) {

	.panel {

		&.panel--half {
			
			float: none;
			width: 100%;
			
			&.panel--halfLeft, &.panel--halfRight {
				padding-left: 16px;
				padding-right: 16px;
			}

		}
	}
	
}