.panel {
	// margin: 16px 0;
	box-sizing: border-box;
	padding: 16px;
	padding-bottom: 0;

	&:last-child {
		padding-bottom: 16px;
	}

	&.panel--half {
		
		width: 50%;

		&.panel--halfLeft {
			float: left;
			padding-right: 8px;
		}

		&.panel--halfRight {
			float: right;
			padding-left: 8px;
		}

	}

	.panel__content {
		padding: 16px;
		background-color: #393A33;
		@include vendor(box-shadow, 0 0 16px rgba(255, 255, 255, .05) inset);
	}

}

@include breakpoint($palm) {

	.panel {

		&.panel--half {
			
			float: none;
			width: 100%;
			
			&.panel--halfLeft, &.panel--halfRight {
				padding-left: 16px;
				padding-right: 16px;
			}

		}
	}
	
}