/**
 * Global Variables
 */

// Base Sizing

$base-font-size: 16px;
$base-line-height: 1.2;

// Fonts

$sans: Arial, Helvetica Neue, Helvetica, Sans-serif;

// Breakpoints

$desk: 1920px;
$lap: 1280px;
$tab: 960px;
$palm: 768px;
$mob: 480px;
$mob-small: 320px;