/**
 * Import Styles here
 */
/* Base Imports */
/**
 * Mixins
 */
/**
 * Global Variables
 */
html, body {
  margin: 0;
  padding: 0;
  background: #272822;
  color: white; }

ol, ul {
  box-sizing: border-box; }

/**
 * Global Typography
 */
html, body, div, li {
  font-family: Arial, Helvetica Neue, Helvetica, Sans-serif; }

h1, .h1 {
  font-size: 4em;
  margin-top: 0;
  font-family: 'Amatic SC';
  font-weight: 700; }

h2, .h2 {
  font-size: 3em;
  margin-top: 0;
  font-family: 'Amatic SC';
  font-weight: 700; }

h3, .h3 {
  font-size: 2em;
  font-family: 'Amatic SC';
  font-weight: 400; }

/* latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local("Amatic SC"), local("AmaticSC-Regular"), url(../fonts/amatic-sc-regular.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/* latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local("Amatic SC Bold"), local("AmaticSC-Bold"), url(../fonts/amatic-sc-bold.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/* latin */
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 400;
  src: local("Sarala"), local("Sarala-Regular"), url(../fonts/sarala-regular.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

/* latin */
@font-face {
  font-family: 'Sarala';
  font-style: normal;
  font-weight: 700;
  src: local("Sarala Bold"), local("Sarala-Bold"), url(../fonts/sarala-bold.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 8px;
  padding: 8px; }
  input:focus {
    outline: 1px solid #CCC; }
  input.is-invalid {
    color: #DD0000; }

.Form__error {
  padding: 16px 0;
  font-size: .75em;
  color: #DD0000; }

.panel {
  box-sizing: border-box;
  padding: 16px;
  padding-bottom: 0; }
  .panel:last-child {
    padding-bottom: 16px; }
  .panel.panel--half {
    width: 50%; }
    .panel.panel--half.panel--halfLeft {
      float: left;
      padding-right: 8px; }
    .panel.panel--half.panel--halfRight {
      float: right;
      padding-left: 8px; }
  .panel .panel__content {
    padding: 16px;
    background-color: #393A33;
    -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.05) inset;
    -moz-box-shadow: 0 0 16px rgba(255, 255, 255, 0.05) inset;
    -ms-box-shadow: 0 0 16px rgba(255, 255, 255, 0.05) inset;
    -o-box-shadow: 0 0 16px rgba(255, 255, 255, 0.05) inset;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.05) inset; }

@media screen and (max-width: 768px) {
  .panel.panel--half {
    float: none;
    width: 100%; }
    .panel.panel--half.panel--halfLeft, .panel.panel--half.panel--halfRight {
      padding-left: 16px;
      padding-right: 16px; } }

button, .button {
  width: 100%;
  background-color: #BBB;
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: 'Amatic SC';
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.2s;
  text-transform: uppercase; }
  button:hover, button:focus, .button:hover, .button:focus {
    outline: none;
    background-color: #CCC;
    transition: background-color 0.2s; }
  button:active, .button:active {
    background-color: #DDD; }

/* Component Imports */
.App {
  max-width: 1000px;
  margin: 0 auto; }

.EditableInput {
  margin: 0;
  white-space: pre-line;
  width: 100%; }
  .EditableInput.EditableInput__textarea {
    border: none;
    display: block;
    font-size: 1em;
    font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
    height: 150px; }
  .EditableInput.EditableInput__ol li {
    padding: 8px;
    margin-bottom: 8px; }
    .EditableInput.EditableInput__ol li:last-child {
      margin-bottom: 0; }
  .EditableInput.EditableInput__div {
    padding: 8px; }
    .EditableInput.EditableInput__div div {
      margin-bottom: 8px; }

.is-highlighted {
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 8px; }

.UserNav .UserNav__toggle {
  position: fixed;
  right: 25px;
  top: 24px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/img/nav-toggle.gif);
  background-image: url(/img/nav-toggle.png); }

.UserNav .UserNav__blocker {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s; }

.UserNav .UserNav__items {
  background: #2F2F29;
  display: block;
  margin: 0;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 225px;
  border-left: 2px solid #4A4A41;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  transform: translateX(240px);
  transition: transform 0.5s; }
  .UserNav .UserNav__items .UserNav__item:first-child, .UserNav .UserNav__items .UserNav__label:first-child {
    margin-top: 50px; }

.UserNav.is-shown .UserNav__blocker {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s; }

.UserNav.is-shown .UserNav__items {
  transform: translateX(0);
  transition: transform 0.5s; }

.UserNav__label {
  font-family: 'Amatic SC';
  font-weight: 700;
  font-size: 2em;
  list-style: none;
  font-weight: bold;
  padding: 4px;
  margin-top: 16px; }

.UserNav__item {
  list-style: none;
  padding: 4px; }

.Recipe .Recipe__name {
  padding-right: 32px;
  box-sizing: border-box; }

.Recipe .Recipe__description {
  margin: 32px 0;
  padding: 0; }

.Recipe .Recipe__ingredients, .Recipe .Recipe__method {
  width: 50%;
  box-sizing: border-box; }

.Recipe .Recipe__ingredients {
  float: left; }
  .Recipe .Recipe__ingredients .Recipe__ingredientsInner {
    line-height: 2em;
    padding-left: 40px;
    box-sizing: border-box; }

.Recipe .Recipe__method {
  float: right; }

.Recipe .Recipe__remove {
  margin: 64px 0; }

@media screen and (max-width: 768px) {
  .Recipe .Recipe__ingredients {
    float: none;
    width: 100%; }
  .Recipe .Recipe__method {
    float: none;
    width: 100%; } }

.VoiceControl {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(100px);
  transition: transform 1s;
  text-align: center; }
  .VoiceControl .VoiceControl__panel {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    display: inline-block;
    background-color: darkgrey;
    border-radius: 8px 8px 0 0;
    width: 250px;
    max-width: 100%;
    border-top: 3px solid #368136;
    transition: border-top 1s; }
    .VoiceControl .VoiceControl__panel .VoiceControl__check {
      height: 38px;
      margin-top: 8px;
      display: inline-block; }
    .VoiceControl .VoiceControl__panel .VoiceControl__previous, .VoiceControl .VoiceControl__panel .VoiceControl__next {
      display: block;
      margin: 8px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #737070; }
    .VoiceControl .VoiceControl__panel .VoiceControl__previous {
      float: left; }
    .VoiceControl .VoiceControl__panel .VoiceControl__next {
      float: right; }
    .VoiceControl .VoiceControl__panel .VoiceControl__result {
      height: 32px; }
  .VoiceControl.is-available {
    transform: translateY(38px);
    transition: transform 1s; }
  .VoiceControl.is-enabled {
    transform: translateY(0);
    transition: transform 1s; }
    .VoiceControl.is-enabled .VoiceControl__panel {
      border-top: 3px solid #8EFF8E;
      transition: border-top 1s; }
  .VoiceControl.is-error .VoiceControl__panel {
    border-top: 3px solid #DD0000;
    transition: border-top 1s; }

.Checkbox {
  height: 20px; }
  .Checkbox input[type="checkbox"] {
    display: none; }
  .Checkbox input[type="checkbox"] + label span {
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid #656565;
    background-color: #737070;
    position: relative;
    border-radius: 10px; }
    .Checkbox input[type="checkbox"] + label span:after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      left: 0;
      position: absolute;
      border: 1px solid #2E792E;
      background-color: #368136;
      transition: left 0.75s, background-color 0.25s, box-shadow, 0.25s;
      border-radius: 10px; }
  .Checkbox input[type="checkbox"]:checked + label span:after {
    left: 20px;
    background-color: #8EFF8E;
    border: 1px solid #8EFF8E;
    -webkit-box-shadow: 0 0 5px #8EFF8E;
    -moz-box-shadow: 0 0 5px #8EFF8E;
    -ms-box-shadow: 0 0 5px #8EFF8E;
    -o-box-shadow: 0 0 5px #8EFF8E;
    box-shadow: 0 0 5px #8EFF8E;
    transition: left 0.75s, background-color 0.25s, box-shadow, 0.25s; }

.StyleGuide .StyleGuide__item {
  background-color: #EEE;
  border-radius: 4px;
  padding: 16px;
  margin: 16px; }
  .StyleGuide .StyleGuide__item .StyleGuide__label {
    font-style: italic;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.25); }

.UserNew {
  padding: 16px; }

.Header {
  padding: 16px; }

.Footer {
  padding: 16px; }
