.Checkbox {
	height: 20px;
	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + label span {
		display: inline-block;
		width: 40px;
		height: 20px;
		border: 1px solid #CECECE;
		background-color: #DEDEDE;
		position: relative;
		border-radius: 10px;
		&:after {
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			left: 0;
			position: absolute;
			border: 1px solid #C5C5C5;
			background-color: #919291;
			transition: left .75s, background-color .25s, box-shadow, .25s;
			border-radius: 10px;
		}
	}

	input[type="checkbox"]:checked + label span {
		&:after {
			left: 20px;
			background-color: #61D061;
			border: 1px solid #7AF97A;
			// @include vendor(box-shadow, 0 0 5px #D5FDD5);
			transition: left .75s, background-color .25s, box-shadow, .25s;
		}
	}
}