.Recipe {

	padding: 17px;

	.Recipe__ingredients, .Recipe__method {
		box-sizing: border-box;
	}

	.Recipe__ingredients {
		padding-left: 40px;
	}

	.Recipe__method {
	}

	.Recipe__remove {
		margin: 64px 0;
	}
	
}