.Recipe {
	.Recipe__name {
		padding-right: 32px;
		box-sizing: border-box;
	}
	.Recipe__description {
		margin: 32px 0;
		padding: 0;
	}

	.Recipe__ingredients, .Recipe__method {
		width: 50%;
		box-sizing: border-box;
		margin-bottom: 16px;
	}

	.Recipe__ingredients {
		float:left;
		.Recipe__ingredientsInner {
			line-height: 2em;
			padding-left: 40px;
			box-sizing: border-box;
			white-space: pre-line;
		}
	}

	.Recipe__method {
		float:right;
	}

	.Recipe__remove {
		margin: 64px 0 0 0;
	}
	
	@include breakpoint($palm) {
		
		.Recipe__ingredients {
			float: none;
			width: 100%;
		}

		.Recipe__method {
			float: none;
			width: 100%;
		}
		
	}
}