.VoiceControl {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	transform: translateY(100px);
	transition: transform 1s;
	text-align: center;

	.VoiceControl__panel {
		@include vendor(box-shadow, 0 0 8px rgba(0,0,0,.25));
		display: inline-block;
		background-color: darkgrey;
		border-radius: 8px 8px 0 0;
		width: 250px;
		border-top: 3px solid #368136;
		transition: border-top 1s;
		
		.VoiceControl__check {
			height: 38px;
			margin-top: 8px;
		}
		
		.VoiceControl__result {
			height: 32px;
		}
	}

	&.is-available {
		transform: translateY(38px);
		transition: transform 1s;
	}

	&.is-enabled {
		transform: translateY(0);
		transition: transform 1s;
		.VoiceControl__panel {
			border-top: 3px solid #8EFF8E;
			transition: border-top 1s;
		}
	}

	&.is-error {
		.VoiceControl__panel {
			border-top: 3px solid #DD0000;
			transition: border-top 1s;
		}
	}
}
