.VoiceControl {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	transform: translateY(100px);
	transition: transform 1s;
	text-align: center;

	.VoiceControl__panel {
		display: inline-block;
		width: 250px;
		background-color: grey;
		border-radius: 8px 8px 0 0;
		// padding-top: 8px;
		.VoiceControl__check {
			height: 38px;
			margin-top: 8px;
		}
		.VoiceControl__result {
			height: 32px;
		}
	}

	&.is-available {
		transform: translateY(38px);
		transition: transform 1s;
	}

	&.is-enabled {
		transform: translateY(0);
		transition: transform 1s;
		.VoiceControl__panel {
			border-top: 3px solid #00DD00;
		}
	}

	&.is-error {
		.VoiceControl__panel {
			border-top: 3px solid #DD0000;
		}
	}
}
