.UserNav .UserNav__toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/img/nav-toggle.gif); }

.UserNav .UserNav__items {
  background: #EEE;
  display: block;
  list-style: none;
  margin: 0;
  padding: 15px;
  position: fixed;
  right: 0;
  height: 100%;
  width: 225px;
  transform: translateX(225px);
  transition: transform 0.5s; }
  .UserNav .UserNav__items .UserNav__item, .UserNav .UserNav__items .UserNav__label {
    padding: 5px; }
    .UserNav .UserNav__items .UserNav__item:first-child, .UserNav .UserNav__items .UserNav__label:first-child {
      margin-top: 50px; }
  .UserNav .UserNav__items .UserNav__label {
    font-weight: bold; }
  .UserNav .UserNav__items.is-shown {
    transform: translateX(0); }
