.VoiceControl {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(100px);
  transition: transform 1s;
  text-align: center; }
  .VoiceControl .VoiceControl__panel {
    display: inline-block;
    width: 250px;
    background-color: grey;
    border-radius: 8px 8px 0 0; }
    .VoiceControl .VoiceControl__panel .VoiceControl__check {
      height: 38px;
      margin-top: 8px; }
    .VoiceControl .VoiceControl__panel .VoiceControl__result {
      height: 32px; }
  .VoiceControl.is-available {
    transform: translateY(38px);
    transition: transform 1s; }
  .VoiceControl.is-enabled {
    transform: translateY(0);
    transition: transform 1s; }
    .VoiceControl.is-enabled .VoiceControl__panel {
      border-top: 3px solid #00DD00; }
  .VoiceControl.is-error .VoiceControl__panel {
    border-top: 3px solid #DD0000; }
